<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
	<sitecore>
    <unicorn>
      <configurations>
        <configuration name="Builderz.Templates" description="Builderz templates unicorn configuration">
          <targetDataStore physicalRootPath="$(sourceFolder)\serialization\templates" 
                           useDataCache="false" type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow"             
                           singleInstance="true">
          </targetDataStore>
          <predicate>
            <include name="ProjectTemplates" database="master" path="/sitecore/templates/Project/Builderz">
            </include>
          </predicate>
        </configuration>
        <configuration name="Builderz.Media" description="Builderz Media unicorn configuration">
          <targetDataStore physicalRootPath="$(sourceFolder)\serialization\media" useDataCache="false" type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow" singleInstance="true">
          </targetDataStore>
          <predicate>
            <include name="MediaItems" database="master" path="/sitecore/media library/Images/Builderz">
              <exclude children="true">                
              </exclude>
            </include>
          </predicate>
        </configuration>
        <configuration name="Builderz.Presentation" description="Builderz presentation unicorn configuration">
          <targetDataStore physicalRootPath="$(sourceFolder)\serialization\presentation" useDataCache="false" type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow" singleInstance="true">            
          </targetDataStore>
          <predicate>
            <include name="Layout" database="master" path="/sitecore/layout/Layouts/Project/Builderz">
            </include>
          <include name="Renderings" database="master" path="/sitecore/layout/Renderings/Project/Builderz">
            </include>
          </predicate>
        </configuration>        
        <configuration name="Builderz.Content" description="Builderz Content unicorn configuration">
          <targetDataStore physicalRootPath="$(sourceFolder)\serialization\content" useDataCache="false" type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow" singleInstance="true">            
          </targetDataStore>
         <!--<evaluator type="Unicorn.Evaluators.NewItemOnlyEvaluator, Unicorn" singleInstance="true"/>-->
          <predicate>
            <include name="PageItems" database="master" path="/sitecore/content/Builderz/Home">
              <exclude children="true">
              </exclude>
            </include>
            <include name="DataItems" database="master" path="/sitecore/content/Builderz/Data">
              <exclude children="true">
                <except name="AboutData" database="master" path="/sitecore/content/Builderz/Data/About" includeChildren="false">                  
                </except>
                <except name="BookData" database="master" path="/sitecore/content/Builderz/Data/Book Taxonomy" includeChildren="true">                  
                </except>  
                <except name="CarouselData" database="master" path="/sitecore/content/Builderz/Data/Carousel" includeChildren="false">
                </except>
                <except name="SliderData" database="master" path="/sitecore/content/Builderz/Data/Carousel/Slider" includeChildren="false">
                </except>
                <except name="SlidesData" database="master" path="/sitecore/content/Builderz/Data/Carousel/Slides" includeChildren="false">
                </except>
              </exclude>
            </include>
          </predicate>
        </configuration>
      </configurations>
    </unicorn>
	</sitecore>
</configuration>
