@using Indegene.Sitecore.Demo.MVC.Models
@model HeaderNavigationModel

@if (Model != null && Model.TopNavigations != null && Model.TopNavigations.Count > 0)
{
    <!-- Nav Bar Start -->
    <div class="nav-bar">
        <div class="container-fluid">
            <nav class="navbar navbar-expand-lg bg-dark navbar-dark">
                <a href="#" class="navbar-brand">MENU</a>
                <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                    <div class="navbar-nav mr-auto">
                        @foreach (var navigation in Model.TopNavigations)
                        {
                            <a href="@navigation.NavigationLink" class="nav-item nav-link @navigation.ActiveClass">@navigation.NavigationTitle</a>
                        }
                    </div>
                    @*<div class="ml-auto">
                        <a class="btn" href="#">Get A Quote</a>
                    </div>*@
                </div>
            </nav>
        </div>
    </div>
    <!-- Nav Bar end -->
}